# editor artifacts
.idea/
*.bak
*.orig
*~
# superstitious fallback
# just in case *~ above
# doesn't work on some systems
*.*~

# my convenient workflow files
commit.txt

# by-products of code generation
*.pyc

# by-products of google appengine runtime execution
index.yaml

# artifacts of library and setup.py develop
gapplib/build/
